/* Les caractéristiques de base du site ici */

body {
    margin: 0;
    padding-top: 12.5vh;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    width: 100%;
    height: 100%;
    background-color: black;
}